.alert {
  position: absolute;
  top: 35%;
  left: 72%;
  margin-top: -150px;
  margin-left: -175px;
  width: 350px;
  font-size: 1.9rem;
  text-align: center;
  overflow: hidden;
  z-index: 100;

  .error-message {
    padding-right: 1rem;
  }

  @media (max-width: 991.98px) {
    top: 38%;
    left: 50%;
    font-size: 1.7rem;
  }
  
  @media (max-width: 425.98px){
    top: 36%;
    width: 250px;
    margin-left: -125px;
  }
}

.close {
  font-size: 1.8rem;
  opacity: .6;
}

#lang-alert {
  position: absolute;
  top: 55%;
  left: 50%;
  margin-top: -150px;
  margin-left: -200px;
  width: 400px;
  font-size: 1.9rem;
  text-align: center;
  overflow: hidden;
  z-index: 100;

  @media (max-width: 991.98px) {
    top: 57%;
    left: 50%;
    font-size: 1.7rem;
  }
  
  @media (max-width: 425.98px){
    top: 58%;
    width: 250px;
    margin-left: -125px;
  }
}
