$light: rgba(249, 250, 251, 1);
$train-mode-color: rgba(23, 163, 184, 1);
$train-mode-color-outline: rgba(23, 163, 184, .3);
$train-mode-color-highlight: rgb(10, 81, 92);
$play-mode-color: rgba(233, 84, 32, 1);
$play-mode-color-highlight: rgb(156, 46, 6);
// $text-highlight: rgba(233, 84, 32, .6);
$media-large: 1392px;
$media-medium: 1043px;
$media-small: 696px;
$media-extra-small: 370px;