$light: #f9fafb;
$train-mode-color: rgba(23, 163, 184, 1);
$train-mode-color-outline: rgba(23, 163, 184, .3);
$train-mode-color-highlight: rgb(10, 81, 92);
$play-mode-color: rgba(233, 84, 32, 1);
$text-highlight: rgba(233, 84, 32, .6);
$media-large: 1392px;
$media-medium: 1043px;
$media-small: 696px;

body {
  background-color: $light;
  font-family: 'Bellota', cursive;
  letter-spacing: 1.5px;
  // font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  position: relative;

  .sidebar-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 370px;
    height: 100vh;
    margin-left: -370px;
    padding: 40px 20px 0 70px;    
    font-size: 1.6rem;
    z-index: 10;
    transition: transform .45s ease-in;

    &.active {
      outline: 9999px solid $train-mode-color-outline;
      transform: translateX(370px);

      @media screen and (max-width: $media-large) {
        transform: translateX(350px);
      }
  
      @media screen and (max-width: $media-medium) {
        transform: translateX(320px);
      }
  
      @media screen and (max-width: $media-small) {
        transform: translateX(290px);
      }
    }

    .sidebar-item {
      margin-top: 15px;
      color: $light;
      text-decoration: none;
      transition: transform .3s ease-in;

      &:first-of-type {
        margin-bottom: 10px;
        margin-left: 40px;
      }

      &:hover {
        font-weight: 700;
        color: $train-mode-color-highlight;
        transform: translateX(15px);
      }

      &.active {
        color: $train-mode-color-highlight;
        font-weight: 700;
        font-size: 1.7rem;
      }
    }

    .sidebar-cross {
      padding-right: 40px;
      text-align: right;
      font-size: 2.6rem;
      color: $light;
      cursor: pointer;

      &:hover {
        color: $play-mode-color;
      }
    } 

    .fa-paw {
      margin-right: 10px;
    }

    @media screen and (max-width: $media-large) {
      width: 350px;
      margin-left: -350px;
      padding-left: 60px;
    }

    @media screen and (max-width: $media-medium) {
      width: 320px;
      margin-left: -320px;
      padding-left: 50px;
    }

    @media screen and (max-width: $media-small) {
      width: 290px;
      margin-left: -290px;
      padding-left: 35px;
    }
  }
}


.header-container {
  justify-content: space-between;
  width: 1340px;
  height: 50px;
  margin: 0 auto;
  padding-top: 40px;

  .toggle-icon {
    margin-right: 50px;
    font-size: 2.2rem;
    color: $train-mode-color;
    cursor: pointer;

    &:hover {
      color: $play-mode-color;
    }
  }

  .logo {
    display: block;
    height: 50px;
    margin-top: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: $train-mode-color-highlight;
    text-transform: uppercase;
    text-decoration: none;

    @media screen and (max-width: $media-small) {
      display: none;
    }
  }

  .custom-control-input ~ .custom-control-label::before {
    border-color: $train-mode-color;
    background-color: $train-mode-color;
}

  @media screen and (max-width: $media-large) {
    width: 990px;
  }

  @media screen and (max-width: $media-medium) {
    width: 645px;
  }

  @media screen and (max-width: $media-small) {
    width: 295px;
  }
}

.board-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 70px;

  .card {
    width: 300px;
    height: 275px;
    color: $light;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    
    .card-text {
      max-width: 270px;
      overflow-y: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .reverse-icon:hover {
      color: $train-mode-color;
      text-shadow: 1px -2px 3px $light;
    }   
  }
}

.over-event {
  box-shadow: 0px 1px 8px 0 $light,
              0px 9px 27px 0 $train-mode-color-highlight;
}