// $bg: rgb(255, 248, 220);
$bg-color: #f9fafb;
$text-highlight: rgba(233, 84, 32, .6);

body {
  background-color: $bg-color;
  font-family: 'Bellota', cursive;
  // font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  position: relative;

  .sidebar-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    width: 300px;
    height: 100vh;
    margin-left: -300px;
    z-index: 10;
    padding: 40px 20px 0 50px;
    font-size: 1.5rem;
    transition: transform .45s ease-in;

    &.active {
      transform: translateX(300px);
    }

    .sidebar-item {
      margin-top: 15px;
      color: white;
      text-decoration: none;

      &:hover {
        color: $text-highlight;
      }
    }

    .sidebar-item:first-of-type {
      margin-bottom: 10px;
      margin-left: 40px;
    }

    .sidebar-cross {
      text-align: right;
      padding-right: 40px;

      &:hover {
        color: $text-highlight;
      }
    } 

    .fa-paw {
      margin-right: 10px;
    }
  }
}


.header-container {
  justify-content: space-between;
  max-width: 1265px;
  height: 50px;
  margin: 0 auto;
  padding-top: 40px;

  .toggle-icon {
    margin-right: 50px;
    font-size: 1.6rem;
    color: $text-highlight;
  }

  .logo {
    font-size: 1.6rem;
    text-decoration: none;
  }
}

.board-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 70px;

  .card {
    width: 300px;
    height: 275px;
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
  }
  
  // .card-img-top {
  //   border-radius: 10px;
  //   border: 3px solid white;
  // }
}
