$main-green-color: rgb(120, 194, 173);
$main-red-color: rgb(243, 150, 154);
$light-text-color: rgb(255, 255, 255);
$dark-text-color: rgb(136, 136, 136);
$transparent: rgba(255, 255, 255, 0);
$media-small: 450px;

html, 
body {
  width: 100%;
  height: 100%;
}

body {
  font: 400 1.5rem 'Roboto';
}

#app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .navbar {
    height: 110px;

    .navbar-brand h1 {
      color: $light-text-color;
      font-weight: 700;
      font-size: 2.5rem;
      letter-spacing: 1.2px;
      cursor: pointer;

      @media screen and (max-width: $media-small) {
        font-size: 2rem;
      }
    }

    @media screen and (max-width: $media-small) {
      height: 90px;
    }
  }
  
  .container {
    height: 100%;

    .form-control {
      width: calc(100% - 105px);
      max-width: 1300px;
      height: 55px;
      padding-left: 55px;
      font-size: 1.4rem;
      background: url(/images/search.svg) no-repeat 10px center;
      background-size: 34px;
      border-radius: 0.4rem 0 0 0.4rem;

      @media screen and (max-width: $media-small) {
        width: calc(100% - 90px);
        height: 45px;
        padding-left: 40px;
        font-size: 1.2rem;
        background-size: 22px;
      }
    }

    .btn {
      width: 105px;
      height: 55px;
      border-radius: 0 0.4rem 0.4rem 0;
      font-size: 1.4rem;
      
      @media screen and (max-width: $media-small) {
        width: 90px;
        height: 45px;
        font-size: 1.2rem;
      }
    }

    .input-message {
      height: 30px;

      #inputted-word {
        color: $main-red-color;
        letter-spacing: 1.1px;
      }

      @media screen and (max-width: $media-small) {
        font-size: 1rem;
      }
    }

    .swiper-outer-container {
      position: relative;
      min-height: 500px;
      padding: 0 30px 80px 30px;

      .swiper-container {
  
        .swiper-slide {
          // height: 500px;
          text-align: center;
          font-size: 18px;
          // background: $main-green-color;
    
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
          
          .title {
            width: 100%;
            font-size: 1.6rem;
            color: $dark-text-color;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;

            &:hover {
              color: $main-red-color;
            }
          }

          .card-body {
            width: 250px;
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
          }
        }
      }

      .swiper-pagination {
        left: 0;
        right: 0;
        margin: 20px auto 30px auto;
  
        .swiper-pagination-bullet {
          width: 9px;
          height: 9px;
          margin-right: 8px;
          background: $main-green-color;
          outline-color: $transparent;
        }
      }
  
      .swiper-button-next {
        right: 0;
      }
  
      .swiper-button-prev {
        left: 0;
      }
  
      .swiper-button-next,
      .swiper-button-prev  {
        top: 40%;
        color: $dark-text-color;
        outline-color: $transparent;
  
        &:hover {
          color: $main-red-color;
        }

        @media (max-width: 575.98px) {
          display: none;
        }
      }

      @media (max-width: 575.98px) {
        padding: 0 0 65px 0;
      }
    }

    @media (min-width: 575.98px) { max-width: 640px; }

    @media (min-width: 767.98px) { max-width: 870px; }

    @media (min-width: 991.98px) { max-width: 1100px; }

    @media (min-width: 1199.98px) { max-width: 1330px; }
  }

  footer.footer {
    width: 100%;
    height: 65px;
    padding: 0 3rem 0 4.5rem;
    font-size: 1.3rem;
    background: url(/images/rs-icon.png) no-repeat 40px center;
    background-size: 29px;
    opacity: 0.9;

    .github-link a {
      color: $light-text-color;
      text-decoration: none;
      
      &:hover {
        color: $main-red-color;
      }
    }

    @media (man-width: 767.98px) { 
      font-size: 1.2rem; 
    }

    @media (max-width: 575.98px) { 
      padding: 0 1rem 0 4.2rem;
      font-size: 1.1rem;
      background-size: 24px;
     }
  }
}